images/demo_code.png filter=lfs diff=lfs merge=lfs -text
images/pdf_qr.png filter=lfs diff=lfs merge=lfs -text
images/space_analytics.png filter=lfs diff=lfs merge=lfs -text
images/space_building.png filter=lfs diff=lfs merge=lfs -text
images/space_comms.png filter=lfs diff=lfs merge=lfs -text
images/space_diy.png filter=lfs diff=lfs merge=lfs -text
images/3dBrkVpa.png filter=lfs diff=lfs merge=lfs -text
images/issues_uncovered.png filter=lfs diff=lfs merge=lfs -text
images/space_admiral.png filter=lfs diff=lfs merge=lfs -text
images/fullstack-codes.png filter=lfs diff=lfs merge=lfs -text
images/best-team1-heatmap.png filter=lfs diff=lfs merge=lfs -text
images/best-team2-heatmap.png filter=lfs diff=lfs merge=lfs -text
images/comparing_results.png filter=lfs diff=lfs merge=lfs -text
images/logo.png filter=lfs diff=lfs merge=lfs -text
images/qrcode_github.com.png filter=lfs diff=lfs merge=lfs -text
images/space_discovery.png filter=lfs diff=lfs merge=lfs -text
images/space_journey.png filter=lfs diff=lfs merge=lfs -text
images/BEST.png filter=lfs diff=lfs merge=lfs -text
images/space_tribunal.png filter=lfs diff=lfs merge=lfs -text
images/space_paradox.png filter=lfs diff=lfs merge=lfs -text
images/dm33B-x7.png filter=lfs diff=lfs merge=lfs -text
images/best-19-practice-areas.png filter=lfs diff=lfs merge=lfs -text
images/slide1.jpg filter=lfs diff=lfs merge=lfs -text
images/slide4.jpg filter=lfs diff=lfs merge=lfs -text
images/slide5.jpg filter=lfs diff=lfs merge=lfs -text
images/iStock-1358839342.jpg filter=lfs diff=lfs merge=lfs -text
images/iStock-1377749663.jpg filter=lfs diff=lfs merge=lfs -text
images/iStock-672950640.jpg filter=lfs diff=lfs merge=lfs -text
